<template name="home">
  <div class="container">
    <div class="jumbotron text-center">
      <img src="/img/elephants_together.png" style="max-height:250px">
    	<h2 class="text-left">"Elephants love reunions. They recognize one another after years and years of separation and greet each other with wild, boisterous joy."</h2>
    	<h3>&mdash;Jennifer Richard Jacobson</h3>
    	<a href="/histories" class="btn btn-success btn-lg" style="margin-top:4rem">Get Started</a>
    </div>
  </div>
</template>